@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("/app/ui/fonts/gilroy-bold/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("/app/ui/fonts/gilroy-bold/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-bold/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-bold/Gilroy-Bold.ttf") format("truetype");
  font-weight: 600;
}

.gilroy {
  font-family: "Gilroy";
}

@font-face {
  font-family: "BR Firma";
  src: url("/fonts/br-firma/BR\ Firma\ Bold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "BR Firma";
  src: url("/fonts/br-firma/BR\ Firma\ Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "BR Firma";
  src: url("/fonts/br-firma/BR\ Firma\ Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "BR Firma";
  src: url("/fonts/br-firma/BR\ Firma\ Medium.otf") format("opentype");
  font-weight: 500;
}

.br-firma {
  font-family: "BR Firma";
}

.shadow {
  box-shadow: 4px 8px 24px 0px #10101040;
}

.popup-container {
  text-align: left;
}

.custom-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  /* z-index: 1000; */
  /* Tailwind CSS example */
  inset: 0;
  /* background: opacity-50; */
}

.popup-content {
  background: #1142a0;
  padding: 20px;
  border-radius: 5px;
  width: 92%;
  text-transform: none;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center; */
}

.more-questions {
  box-shadow: 0px 4px 8px 0px #1b1b1b26;
}
.slider {
  display: grid;
  grid-template-columns: repeat(5, 30%);
  gap: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  /* margin: 10px; */
}

.slider::-webkit-scrollbar {
  display: none;
}
